.main-nav {
  padding: 30px 0;
  background: #c5bfa3;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
  a {
    font-weight: bold;
    color: $soft-black;
    text-decoration: none;
    font-size: 26px;
    &:hover {
      color: $dark;
    }
    &.active {
      color: $dark;
      text-decoration: underline;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-left {
      width: 40vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        font-size: 40px;
        text-decoration: underline;
        &:hover {
          color: $soft-black;
        }
      }
      span {
        width: 54%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .nav-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30vw;
      .fa-bars {
        font-size: 24px;
        cursor: pointer;
      }
      span {
        position: relative;
        input[type="search"] {
          background-color: #f3f3f4;
          padding: 4px;
          padding-left: 30px;
          outline: none;
          border-radius: 20px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 4px RGB(114 121 85 / 30%);
          &:hover,
          &:focus-visible {
            background: $white;
          }
          &::placeholder {
            color: rgba($soft-black, 0.8);
            font-size: 14px;
          }
        }
        svg {
          position: absolute;
          left: 12px;
          top: 13px;
          color: rgba($soft-black, 0.8);
          font-size: 15px;
        }
      }
    }
  }
}
