.main-nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-weight: bold;
    color: $soft-black;
    text-decoration: none;
    font-size: 26px;
    &:hover {
      color: $dark;
    }
    &.active {
      color: $dark;
      text-decoration: underline;
    }
  }
  .nav-left {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-size: 40px;
      text-decoration: underline;
      &:hover {
        color: $soft-black;
      }
    }
    span {
      width: 54%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    .svg {
      width: 32px;
      cursor: pointer;
    }
    span {
      position: relative;
      input[type="search"] {
        background-color: #f3f3f4;
        padding: 4px;
        padding-left: 25px;
        outline: none;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 4px RGB(114 121 85 / 10%);
        &:hover,
        &:focus-visible {
          background: $white;
        }
        &::placeholder {
          color: rgba($soft-black, 0.8);
          font-size: 14px;
        }
      }
      svg {
        width: 16px;
        position: absolute;
        left: 8px;
        top: 9px;
      }
    }
  }
}
